@import url("./cubemap.css");
@import url("./cubeview.css");

* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5vh;
  color: white;
}

input {
  color: black;
}

body {
  background-color: darkslategray;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#view-container {
  position: relative;
  bottom: 6vh;
}

#flex-wrap {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.vermelho {
  color:red;
}
.azul {
  color:blue;
}
.amarelo {
  color:yellow;
}